@media only screen and (max-width:1200px){
    .moto {
        width: 100%;
        padding: 0 2%;
    }
    
    .row {
        padding: 0 2%;
    }
    
}




@media only screen and (max-width:1023px){
    
    body {
        font-size: 18px;
    }
    
    section {
        padding: 60px 0;
    }
    
    .about-feature {
        width: 80%;
    }
    
    .step-box {
        margin-top: 10px;
    }
    .step-box:last-child {
        margin-top: 10px;
    }

    .app-screen {
        width: 50%;
    }

    .steps {
        margin-bottom: 40px;
    }

    .steps:last-of-type{
        margin-bottom: 50px;
    }
    
    .city-feature {
        font-size: 80%;
    }

    .city-icon {
        width: 17px;
        margin-right: 5px;
    }
    
    .plan-box {
        width: 100%;
        margin-left: 0;
    }
    
    .plan-price {
        font-size: 250%;
    }
    
    .contact-form {
        width: 80%;
    }
}




@media only screen and (max-width:767px){
    body {
        font-size: 16px;
    }
    
    section {
        padding: 30px 0;
    }
    
    .row {
        padding: 0 4%;
    }
    
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .nav-links {
        display: none;
    }
    .nav-links {
        float: left;
        margin-top: 32px;
        margin-left: 25px;
    }

    .nav-links li {
        display: block;
    }

    .nav-links li a {
        display: block;
        padding: 8px 0;
        font-size: 100%;
        border-bottom: 0;
    }

    .nav-links li a:hover {
        border-bottom: 0;
    }

    .mobile-nav {
        display: inline-block;
    }

    .sticky .mobile-nav i{
        color: #141414;
    }

    .sticky .mobile-nav {
        margin-top: 8px;
    }

    .sticky .nav-links {
        margin-top: 8px;
    }
    
    
    .sticky .nav-links li a{
        padding: 10px 0;
    }
    
    .about-feature {
        width: 100%;
    }
    
    h1 {
        font-size: 180%;
    }
    
    h2 {
        font-size: 150%;
    }
    
    .app-screen {
        width: 40%;
    }
    
    .steps div {
        height: 40px;
        width: 40px;
        padding: 4px;
        font-size: 120%;
        margin-right: 15px;

    }

    .steps {
        margin-bottom: 20px;
    }

    .steps:last-of-type{
        margin-bottom: 20px;
    }
    
    .step-box:first-child {
        text-align: center;
    }
    
    .contact-form {
        width: 90%;
    }
    
}




@media only screen and (max-width:480px){
    
    section {
        padding: 25px 0;
    }
    
    .contact-form {
        width: 100%;
    }
    
}